# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ConsoleTestForGit.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - ViaUC\Semester_3\DNP1\ConsoleTestForGit\.idea\.idea.ConsoleTestForGit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
